@import '../../variablesScss.scss';

#Meals {
    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .menu {

            .title {
                font-weight: normal;

                span {
                    color: $color-orange-1;
                    font-weight: bold;
                }
            }

            .whiteBtn {
                width: 90%;
                text-align: left;
                justify-content: start;

                img {
                    width: 40px;
                    margin-right: 20px;
                }
            }
        }

        .detail {
            grid-column: 2 / span 3;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-weight: normal;
                }

                span {
                    color: gray;
                }
            }

            .foodList {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                .foodItem {
                    border-radius: 15px;
                    overflow: hidden;
                    box-shadow: $box-shadow-1;
                    background-color: $color-yellow-2;
                    animation: $animation-fadeIn;

                    .picture-wrapper {
                        height: 250px;
                    }

                    .food-content {
                        padding: 15px;
                    }
                }
            }
        }
    }
}



@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    #Meals {
        .content {
            display: block;

            .menu {
                width: 100%;
                text-align: center;

                .selection {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    margin: 0;



                    .whiteBtn {
                        padding: 10px;
                        font-size: 0.8rem;
                        font-weight: bold;
                        width: 55px;
                        margin: 5px;

                        img {
                            width: 40px;
                            margin-right: 0;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }

            .detail {
                margin: 0;

                h1 {
                    margin: 0;
                }

                .foodList {
                    display: block;


                    .foodItem {
                        margin: 20px 0;

                        .picture-wrapper img {
                            width: 100%;
                            min-height: 250px;
                        }

                        .food-content {
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}