@import '../../variablesScss.scss';

#Meals {
    margin-top: 100px;

    .content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .menu {

            .title {
                font-weight: normal;

                span {
                    color: $orange-color-1;
                    font-weight: bold;
                }
            }

            .whiteBtn {
                width: 90%;
                text-align: left;
                justify-content: start;

                img {
                    width: 40px;
                    margin-right: 20px;
                }
            }
        }

        .detail {
            grid-column: 2 / span 3;

            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h1 {
                    font-weight: normal;
                }

                span {
                    color: gray;
                }
            }

            .foodList {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                .foodItem {
                    border-radius: 15px;
                    overflow: hidden;
                    box-shadow: $shadow-type-1;
                    background-color: $yellow-color-2;

                    .picture-wrapper {
                        height: 250px;
                    }

                    .food-content {
                        padding: 15px;
                    }
                }
            }
        }
    }
}