@import '../../variablesScss.scss';

#Events {
    .title {
        text-align: center;

        p {
            text-align: center;
            width: 50%;
            margin: auto;
        }
    }

    .event__item {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        margin: 60px 0;

        .content {
            margin: 0 50px;
            animation: $animation-fromLeftToRight;

            ul {
                padding-left: 0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    i {
                        border-radius: 50%;
                        border: 1px solid $color-orange-1;
                        color: $color-orange-1;
                        width: 32px;
                        min-width: 32px;
                        height: 32px;
                        margin: 5px 20px 5px 0;
                    }
                }
            }
        }

        .picture-wrapper {
            animation: $animation-fromRightToLeft;
            border-radius: 20px;
            height: 450px;
            width: 100%;
        }
    }
}

@media (max-width: 991.98px) {
    #Events {
        .title {
            p {
                width: 100%;
            }
        }

        .event__item {
            grid-template-columns: repeat(1, 1fr);
            grid-area: 20px;

            p.headerTitle {
                margin: 0;

                span {
                    font-size: 1.5rem;
                    margin: 0;
                }
            }

            .content {
                margin: 0;
            }

            .picture-wrapper {
                height: 400px;

                img {
                    width: fit-content;
                    height: fit-content;
                }
            }
        }
    }
}