@import '../../variablesScss.scss';

#gallerries {
    text-align: center;

    .galleriesList {
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 50px;

        .picture-wrapper {
            border-radius: 5px;
            height: 300px;
            transition: $animation-fromBottomToTop;

            img {
                height: 100%;
            }
        }
    }

    .orangeBtn {
        justify-content: center;

        &.hidden {
            display: none;
        }
    }
}