@import '../../variablesScss.scss';

#chooseUs {
    .chooseList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .choose_item {
            border: 1px solid $yellow-color-3;
            border-radius: 15px;
            box-shadow: $shadow-type-1;
            padding: 20px;
            transition: all 0.5s;

            &:hover {
                background-color: $yellow-color-2;
            }

            h3 {
                color: $orange-color-1;
                letter-spacing: 0;
            }

            p {
                text-align: left;
                color: $gray-color-2;
                font-size: 16px;
                letter-spacing: 0;
            }
        }
    }
}

#chefInfo {
    .chefList {
        .flex-center {
            gap: 50px;
            margin: 0 50px;
        }

        .chef_item {
            margin: 20px;
            width: 25%;
            position: relative;
            overflow: hidden;
            transition: all 0.5s;

            .title {
                color: white;
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                height: 100%;
                transition: all 0.5s;

                h3 {
                    transition: all 0.5s;
                    cursor: pointer;
                    margin-top: 200px;
                    margin-bottom: 5px;

                    &:hover {
                        color: $orange-color-1;
                    }
                }

                .socialBtn {
                    ul {
                        display: flex;
                        gap: 10px;
                        padding: 0;
                        margin-top: 20px;

                        .orangeOutLineBtn {
                            border-radius: 15px;
                            font-size: 20px;
                            width: 40px;
                            height: 40px;
                            padding: 0;
                        }
                    }
                }
            }

            .bg-dark {
                position: absolute;
                top: 0;
                left: 0%;
                width: 100%;
                height: 100%;
                transition: all 0.5s;

                &::after {
                    background: linear-gradient(to bottom, transparent, black);
                    content: '';
                    display: block;
                    opacity: 0.9;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }

            .picture-wrapper {
                border-radius: 10px;
                position: relative;
                height: 400px;

                img {
                    z-index: -1;
                    height: 100%;
                }
            }
        }

        .chef_item:hover .title {
            transform: translateY(0);
            top: 0;
        }
    }
}