@import '../../variablesScss.scss';

#chooseUs {
    .chooseList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .choose_item {
            border: 1px solid $color-yellow-3;
            border-radius: 15px;
            box-shadow: $box-shadow-1;
            padding: 20px;
            transition: all 0.5s;

            &:hover {
                background-color: $color-yellow-2;
            }

            h3 {
                color: $color-orange-1;
                letter-spacing: 0;
            }

            p {
                text-align: left;
                color: $color-gray-2;
                font-size: 16px;
                letter-spacing: 0;
            }
        }
    }
}

#chefInfo {
    .chefList {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 0 50px;

        .chef_item {
            margin: 20px;
            width: 25%;
            position: relative;
            overflow: hidden;
            transition: all 0.5s;

            .title {
                color: white;
                position: absolute;
                left: 0;
                top: 100%;
                width: 100%;
                height: 100%;
                transition: all 0.5s;

                h3 {
                    transition: all 0.5s;
                    cursor: pointer;
                    margin-top: 200px;
                    margin-bottom: 5px;

                    &:hover {
                        color: $color-orange-1;
                        text-shadow:
                            -1px -1px 20px white,
                            1px -1px 20px white,
                            -1px 1px 20px white,
                            1px 1px 20px white;
                    }
                }

                .socialBtn {
                    ul {
                        display: flex;
                        gap: 10px;
                        padding: 0;
                        margin-top: 20px;

                        .orangeOutLineBtn {
                            border-radius: 15px;
                            font-size: 20px;
                            width: 40px;
                            height: 40px;
                            padding: 0;
                        }
                    }
                }
            }

            .bg-dark {
                position: absolute;
                top: 0;
                left: 0%;
                width: 100%;
                height: 100%;
                transition: all 0.5s;

                &::after {
                    background: linear-gradient(to bottom, transparent, black);
                    content: '';
                    display: block;
                    opacity: 0.9;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }

            .picture-wrapper {
                border-radius: 10px;
                position: relative;
                max-height: 400px;

                img {
                    z-index: -1;
                    height: 100%;
                }
            }
        }

        .chef_item:hover .title {
            transform: translateY(0);
            top: 0;
        }
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    #chooseUs {
        .chooseList {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #chefInfo {
        .chefList {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;

            .chef_item {
                width: 100%;
                max-width: 600px;
                margin: auto;

                .picture-wrapper {
                    max-height: 700px;
                }
            }
        }
    }
}