@import '../../variablesScss.scss';

#resHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(24, 24, 27, 0.8);
    z-index: 100;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            color: gold;
            font-size: 30px;
            margin-right: auto;
            font-weight: bold;
            text-decoration: none;
            padding: 20px 0;

            i {
                margin-left: 20px;
            }
        }

        ul {
            display: flex;
            gap: 20px;
            margin-right: 100px;

            li {
                padding: 0 10px;
                font-family: $font-family-header;
                letter-spacing: 2px;

                a {
                    color: rgb(175, 175, 175);
                    text-decoration: none;
                    transition: all 0.5s;
                    margin-top: 10px;
                    padding: 10px;

                    &:hover {
                        color: gold;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background-color: gold;
                        margin: 5px auto;
                        transition: all 0.5s;
                    }
                }

                .active {
                    color: gold;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}