@import '../../variablesScss.scss';

#resHeader {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .fadebg {
        background-color: rgba(24, 24, 27, 0.8);
    }

    .hidebg {
        background-color: transparent;
    }

    .showbg {
        background-color: rgba(0, 0, 0);
        padding-bottom: 20px;
        animation: $animation-fromTopToBottom;
    }

    .navbar__mobile {
        transition: all 0.5s;

        .orangeBtn.menu-toggle {
            padding: 0;
            width: 40px;
            height: 40px;
            border-radius: 10px;
        }

        .menubar__detail ul {
            flex-direction: column;
            margin: 0;
            padding: 0;

            li {
                width: 100%;
                padding: 0;
                border-bottom: dotted 1px gray;

                a {
                    width: 100%;
                    text-align: center;
                    padding: 0;

                    &:hover,
                    &.active {
                        color: $color-orange-1;
                        font-weight: bold;
                    }

                    &::after {
                        background-color: $color-orange-1;
                        margin-bottom: 0;
                    }
                }
            }

        }

        .flex-center .orangeBtn {
            margin-top: 15px;
        }
    }

    .container {
        .menuBar {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            color: gold;
            font-size: 30px;
            font-weight: bold;
            padding: 20px 20px 20px 0;
            margin-right: auto;
            text-decoration: none;
        }

        .menuBtn .orangeBtn {
            padding: 10px;
            border-radius: 10px;
            display: none;
        }

        ul {
            display: flex;
            gap: 10px;
            margin: auto;

            li {
                padding: 0 10px;

                a {
                    color: rgb(175, 175, 175);
                    padding: 10px;
                    margin-top: 10px;
                    text-decoration: none;
                    transition: all 0.5s;

                    &:hover {
                        color: gold;
                    }

                    &::after {
                        background-color: gold;
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        margin: 5px auto;
                        transition: all 0.5s;
                    }
                }

                .active {
                    color: gold;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.fix-bottom-right {
    position: fixed;
    bottom: -100px;
    right: 30px;
    transition: all 0.5s;
    z-index: 60;

    &.show {
        bottom: 30px;
    }

    .orangeBtn {
        padding: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        &:hover {
            transform: scale(1.1);
        }
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {

    #resHeader .container {
        .logo {
            font-size: 1.3rem;
        }

        .menuBtn .orangeBtn {
            display: block;
        }
    }
}