@import '../../variablesScss.scss';

#resHeader {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .bg-dark {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(24, 24, 27, 0.8);
        z-index: -1;
        transition: all 0.5s;

        &.show {
            height: 100%;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            color: gold;
            font-size: 30px;
            font-weight: bold;
            padding: 20px 0;
            margin-right: auto;
            text-decoration: none;
        }

        ul {
            display: flex;
            gap: 20px;
            margin-right: 100px;

            li {
                padding: 0 10px;

                a {
                    color: rgb(175, 175, 175);
                    padding: 10px;
                    margin-top: 10px;
                    text-decoration: none;
                    transition: all 0.5s;

                    &:hover {
                        color: gold;
                    }

                    &::after {
                        background-color: gold;
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        margin: 5px auto;
                        transition: all 0.5s;
                    }
                }

                .active {
                    color: gold;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}