@import '../../variablesScss.scss';

#resFooter {
    background-color: rgb(27, 27, 27);
    color: white;

    .content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .col-logo {
            grid-column: 1 / span 2;

            h1 {
                color: gold;
            }
        }

        li {
            line-height: 1.8;

            a {
                color: $gray-color-2;
                text-decoration: none;

                &:hover {
                    color: white;
                }
            }

            p {
                font-family: $font-family-header;
                color: gray;
            }
        }

        .socialBtn {
            display: flex;
            gap: 10px;
            padding-left: 0;
            margin-top: 30px;

            .orangeOutLineBtn {
                color: black;
                padding: 0;
                width: 40px;
                height: 40px;
                font-size: 20px;

                &:hover {
                    color: white;
                }
            }

        }
    }

    p span {
        color: $orange-color-1;
        margin-left: 10px;
        font-weight: bold;
    }

    #testimonials {
        .testimonials__item {
            margin-bottom: 50px;

            .flex-center {
                justify-content: start;

                .profile {
                    margin-left: 20px;
                }
            }

            .picture-wrapper {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

            h3 {
                color: $orange-color-1;
                margin-bottom: 0;
            }

            span {
                font-size: 14px;
                font-weight: bold;
                color: $gray-color-1;
                font-family: $font-family-header;
            }

            p {
                width: 75%;
                font-family: $font-family-header;
                color: $gray-color-2;
                font-weight: lighter;
                font-size: 16px;
                padding: 20px 0;

                i {
                    margin: 0 5px;
                    font-size: 20px;
                }
            }
        }

        .swiper-pagination-bullet {
            background-color: white;
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $orange-color-1;
        }

        .swiper-pagination-fraction,
        .swiper-pagination-custom,
        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            width: 60px !important;
        }

    }
}