@import '../../variablesScss.scss';

#resFooter {
    background-color: rgb(27, 27, 27);
    color: $color-gray-1;

    .content {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .col-logo {
            grid-column: 1 / span 3;

            h1 {
                color: gold;
            }
        }

        .col-contact {
            grid-column: 6 / span 2;

            li {
                color: $color-gray-1;
            }

            i {
                margin-right: 10px;
                transition: all 0.5s;
            }

            li:hover i {
                color: white;
            }
        }

        ul {
            padding: 0;
        }

        li {
            line-height: 2.5;
            font-size: 16px;

            a {
                color: $color-gray-1;
                text-decoration: none;

                &:hover {
                    color: white;
                }
            }

            p {
                color: gray;
            }
        }

        .socialBtn {
            display: flex;
            gap: 10px;
            padding-left: 0;
            margin-top: 30px;

            .orangeOutLineBtn {
                color: black;
                font-size: 20px;
                width: 40px;
                height: 40px;
                padding: 0;

                &:hover {
                    color: white;
                }
            }

            i {
                margin: 0;
            }
        }
    }

    p span {
        color: $color-orange-1;
        font-weight: bold;
        margin-left: 10px;
    }

    #testimonials {
        .testimonials__item {
            margin-bottom: 50px;

            .flex-center {
                justify-content: start;

                .profile {
                    margin-left: 20px;
                }
            }

            .picture-wrapper {
                border-radius: 50%;
                width: 80px;
                height: 80px;
            }

            h3 {
                color: $color-orange-1;
                margin-bottom: 0;
            }

            span {
                color: $color-gray-2;
                font-size: 14px;
                font-weight: bold;
            }

            p {
                color: $color-gray-1;
                font-size: 1rem;
                font-weight: lighter;
                width: 75%;
                padding: 20px 0;

                i {
                    font-size: 20px;
                    margin: 0 5px;
                }
            }
        }

        .swiper-pagination-bullet {
            background-color: white;
        }

        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $color-orange-1;
        }

        .swiper-pagination-fraction,
        .swiper-pagination-custom,
        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            width: 60px !important;
        }

    }

    .flex-center p {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 991.98px) {
    #resFooter {
        .content {
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;

            .col-logo {
                grid-column: 1 / span 4;
            }

            .col-contact {
                grid-column: 3 / span 2;
            }

            li {
                font-size: 0.8rem;
            }

        }
    }
}

@media (max-width: 575.98px) {
    #resFooter {
        .content {
            grid-template-columns: repeat(2, 1fr);

            .col-logo,
            .col-contact {
                grid-column: 1 / span 2;
            }

            li {
                font-size: 0.8rem;
            }

        }

        #testimonials {
            .testimonials__item {
                p {
                    margin: 0;
                    width: 100%;

                    i {
                        font-size: 0.6rem;
                        margin: 0;
                    }
                }
            }
        }
    }
}