@import './variablesScss.scss';

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 2px;
}

section {
    padding: 80px 0;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    transition: all 0.5s;
}

button {
    cursor: pointer;
}

p {
    text-align: justify;
}

.title {
    text-align: center;
}

.headerSpan {
    text-transform: uppercase;
    color: $color-gray-2;
    font-size: 14px;
    letter-spacing: 3px;
}

.headerTitle {
    font-size: 40px;
    font-weight: normal;
    margin: 10px 0 30px;

    span {
        color: $color-orange-1;
        font-weight: bold;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.orangeBtn {
    background-color: $color-orange-1;
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 12px 36px;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover,
    &:active {
        background-color: #b33304;
    }
}

.orangeOutLineBtn {
    color: $color-orange-1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: bolder;
    padding: 12px 36px;
    transition: all 0.5s;
    text-transform: uppercase;

    &:hover,
    &:active {
        background-color: $color-orange-1;
        color: white;
    }
}

.whiteBtn {
    color: black;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 20px;
    margin: 10px;
    padding: 12px 36px;
    transition: all 0.5s;

    &:hover,
    &:active,
    &.active {
        background-color: white;
        box-shadow: $box-shadow-1;
        color: $color-orange-1;
    }

}

.picture-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: all 0.5s;
    width: 100%;

    img {
        display: block;
        transition: all 0.5s;
        width: 100%;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.price {
    color: $color-orange-1;
    font-weight: bold;
    letter-spacing: 2px;
}

.bg {
    background-attachment: fixed;
    background-image: url(https://i.pinimg.com/564x/fa/06/d1/fa06d1b4887b342924d928ffa0b3b123.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -2;

    &::after {
        background-color: $color-yellow-3;
        content: '';
        display: block;
        width: 100vw;
        height: 100%;
        opacity: 0.9;
        transition: all 0.5s;
    }
}

.spinner.flex-center {
    height: 100vh;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $color-orange-1;
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .container {
        width: 95%;
    }

    .headerSpan {
        font-size: 1rem;
    }

    .headerTitle {
        font-size: 2rem;
    }

    .orangeBtn {
        font-size: 1rem;
    }
}