@import './variablesScss.scss';

html,
body {
    font-size: 18px;
    font-family: 'Playpen Sans', cursive;
    letter-spacing: 2px;
}

body {
    padding: 0;
    margin: 0;
    background-color: $yellow-color-1;
}