$orange-color-1: #dd4d19;
$orange-color-2: #b33304;
$gray-color-1: #535353;
$gray-color-2: #a5a5a5;
$bg-color-yellow-1: #f7dab4;
$bg-color-yellow-2: #d4b285;
$bg-color-yellow-3: #ffeccb;
$font-family-header: 'Playpen Sans', cursive;
$shadow-type-1: 0 10px 15px -3px rgba(179, 94, 25, 0.1), 0 4px 6px -4px rgba(255, 77, 42, 0.1);