@import '../../variablesScss.scss';

#contactPage {
    .container {
        width: 60%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 10px 0;

        .orangeBtn {
            width: 40px;
            height: 40px;
            padding: 0;
            margin-right: 20px;
        }
        p {
            margin: 5px;
        }

        span {
            color: gray;
            font-size: 14px;
        }
    }

    form {
        position: relative;
        width: 100%;
        text-align: center;

        .flex-center {
            gap: 20px;
        }

        input {
            background-color: transparent;
            border: 1px solid $color-orange-1;
            border-radius: 10px;
            color: $color-orange-1;
            font-size: 20px;
            width: 100%;
            height: 30px;
            padding: 10px;
            transition: all 0.5s;

            &:focus-visible {
                background-color: $color-yellow-2;
                outline-color: $color-orange-1;
            }
        }

        textarea {
            background-color: transparent;
            border: 1px solid $color-orange-1;
            border-radius: 10px;
            color: $color-orange-1;
            font-size: 20px;
            width: 100%;
            height: 250px;
            padding: 20px;
            margin: 20px auto;
            transition: all 0.5s;

            &:focus-visible {
                background-color: $color-yellow-2;
                outline-color: $color-orange-1;
            }
        }
    }
}